div.Empty_20
{
    width:100%;
    height:20px;
    margin:auto;
    padding:0;
    clear:left, right;
}

div.Empty_50
{
    width:100%;
    height:50px;
    margin:auto;
    padding:0;
}

ul.HeadMenu
{
    list-style-type: none;
    margin:auto;
    padding:0;
    overflow:hidden;
    background-color: rgb(33, 154, 6);
    width:100%;
    height:50px;
    position: fixed;
    left:0;
    top:0;

    display: flex; /* 使用 Flex 布局 */
    justify-content: center; /* 水平方向居中对齐 */
}

li.HeadMenu_Content
{
    float:left;
    min-width: 15%;
}

a.LinkTo
{
    display:block;
    margin:0;
    padding:13px;
    background-color: rgb(33, 154, 6);
    color:white;
    text-decoration: none;
    height:50px;
    text-align: center;
}

a.LinkTo:hover
{
    background-color: #333;
    color: white;
}

div.HeadPicture
{
    width:100%;
    height: 50%;
    background-image: url('whu1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;    
    background-size: cover;
    margin:auto;
    padding:0px;

    display: flex; /* 使用 Flex 布局 */
    justify-content: center; /* 水平方向居中对齐 */
    align-items: center; /* 竖直方向居中对齐 */
}

div.HeadWord
{
    color:rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

p.HeadWord
{
    color:rgb(58, 58, 58);
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}

div.WhitePart
{
    display: flex; /* 使用 Flex 布局 */
    justify-content: center; /* 水平方向居中对齐 */

    width:100%;
    height:auto;
    background-color: white;
    margin:auto;
    padding:0px;
}

div.GreyPart
{
    display: flex; /* 使用 Flex 布局 */
    justify-content: center; /* 水平方向居中对齐 */

    width:100%;
    height:auto;
    background-color: rgb(242, 242, 242);
    margin:auto;
    padding:0px;
}

div.MainText_Title
{
    color:grey;
    width:100%;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}

div.MainText_Content
{
    color:black;
    width:50%;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    line-height: 1.5
}

a.LinkToISPRS
{
    font-size: 20px;
    font-weight: 200;
    color:black;
    text-align: center;
}

a.LinkToISPRS:active
{
    font-size: 20px;
    font-weight: 200;
    color:red;
    text-align: center;
}

a.LinkToISPRS:visited
{
    font-size: 20px;
    font-weight: 200;
    color:purple;
    text-align: center;
}

td.SHOWDETAILS
{
    text-align: center;
    font-size: 30px;
    font-weight: 250;
}

a.LinkToBeDOI
{
    font-size: 20px;
    font-weight: 200;
    color:black;
    text-align: center;
}

a.LinkToBeDOI:active
{
    font-size: 20px;
    font-weight: 200;
    color:red;
    text-align: center;
}

a.LinkToBeDOI:visited
{
    font-size: 20px;
    font-weight: 200;
    color:purple;
    text-align: center;
}

td.Experiments
{
    text-align: center; /* 文字水平居中对齐 */
    vertical-align: middle; /* 文字垂直居中对齐 */
    padding: 10px; /* 设置内边距，以增加单元格的空白 */
    border: 1px solid #333;
}

div.End
{
    display: flex; /* 使用 Flex 布局 */
    justify-content: center; /* 水平方向居中对齐 */

    width:100%;
    height:auto;
    background-color: rgb(67, 67, 67);
    margin:auto;
    padding:0px;
}

div.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}

div.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 10px;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* 放置在文本上方 */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

div.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

div.MainText_Content_End
{
    color:black;
    width:50%;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 1.5
}

div.PictureContainer1{
    width: 50vw; /* 50% of viewport width */
    height: calc(50vw / 2); /* 50% of viewport width, divided by 2 for height */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
}

div.PictureContainer1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

div.PictureContainer2{
    width: 60vw; /* 50% of viewport width */
    height: calc(60vw / 875 * 536); /* 50% of viewport width, divided by 2 for height */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
}

div.PictureContainer2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

div.PictureContainer3{
    width: 60vw; /* 50% of viewport width */
    height: calc(60vw / 3812 * 1573); /* 50% of viewport width, divided by 2 for height */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
}

div.PictureContainer3 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

div.PictureContainer4{
    width: 50vw; /* 50% of viewport width */
    height: calc(50vw / 3986 * 1404); /* 50% of viewport width, divided by 2 for height */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
}

div.PictureContainer4 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

div.PictureContainer5{
    width: 50vw; /* 50% of viewport width */
    height: calc(50vw / 1693 * 727); /* 50% of viewport width, divided by 2 for height */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
}

div.PictureContainer5 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

div.PictureContainer6{
    width: 50vw; /* 50% of viewport width */
    height: calc(50vw / 3241 * 1169); /* 50% of viewport width, divided by 2 for height */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
}

div.PictureContainer6 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

div.PictureContainer7{
    width: 50vw; /* 50% of viewport width */
    height: calc(50vw / 3276 * 1133); /* 50% of viewport width, divided by 2 for height */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
}

div.PictureContainer7 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

div.PictureContainer8{
    width: 50vw; /* 50% of viewport width */
    height: calc(50vw / 3205 * 594); /* 50% of viewport width, divided by 2 for height */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
}

div.PictureContainer8 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

div.PictureContainer9{
    width: 50vw; /* 50% of viewport width */
    height: calc(50vw / 3205 * 594); /* 50% of viewport width, divided by 2 for height */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
}

div.PictureContainer9 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

div.PictureContainer10{
    width: 50vw; /* 50% of viewport width */
    height: calc(50vw / 4347 * 1676); /* 50% of viewport width, divided by 2 for height */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
}

div.PictureContainer10 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

div.PictureContainer11{
    width: 50vw; /* 50% of viewport width */
    height: calc(50vw / 2393 * 1423); /* 50% of viewport width, divided by 2 for height */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
}

div.PictureContainer11 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

div.PictureContainer12{
    width: 50vw; /* 50% of viewport width */
    height: calc(50vw / 2393 * 1423); /* 50% of viewport width, divided by 2 for height */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
}

div.PictureContainer12 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

div.PictureContainer13{
    width: 30vw; /* 50% of viewport width */
    height: 30vw; /* 50% of viewport width, divided by 2 for height */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
}

div.PictureContainer13 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}
